<h3>Home Component</h3>
<p>{{numberOfTicks}}</p>
<input type="text" placeholder="No State" [(ngModel)]="itemAdd">
<input type="button" value="Add" *ngIf="selectedItem===null" (click)="addData(itemAdd)">
<input type="button" value="Update" *ngIf="selectedItem!==null" (click)="updateData()">
<!--<ul [innerHTML]="addItems"></ul>
<hr/>-->
<ul *ngFor="let item of items | async">
    <div (click)="getSelectedItem(item)" style="cursor: pointer">
        <li>{{item.id}}</li>
        <li>{{item.name}}</li>
        <li>{{item.description}}</li>
    </div>
    <input type="button" value="Delete" (click)="deleteData(item)">
    <br/>
</ul>
<h4 style="color: red;">{{message}}</h4>
<br/>
<input type="button" value="Reload Data" (click)="getData()">
<br/><br/>
<input type="text" [(ngModel)]="homeValueInput" (keyup)="setHomeValue(homeValueInput)">
<div>Current Value: {{ homeValueInput }}</div><br/>
<input type="text" #lv [value]="homeValue | async" (keyup)="setHomeValue(lv.value)">
<div>Current Value: {{ homeValue | async }}</div>
<br/>
<button (click)="increment()">Increment</button>
<div>
    <h2>Power (map example)</h2>
    <h1>2<sup>{{counter | async}}</sup> = {{power | async}}</h1>
</div>
<button (click)="decrement()">Decrement</button>
<button (click)="reset()">Reset Counter</button>
<br/>